<div class="folder">
    <button class="close-button" data-ng-click="$ctrl.onRemove()"></button>
    <div class="folder-content" data-ng-click="$ctrl.openGame()"></div>
    <input class="caption" type="text" data-ng-model="$ctrl.caption"/>
</div>