<div id="content" ng-hide="$ctrl.state.loading">
    <div id="items-container">
        <folder-icon data-ng-repeat="folder in $ctrl.items.folders track by $index"
                class="item"
                on-remove="$ctrl.removeFolder($index)"
                caption="folder">
        </folder-icon>
        <file-icon data-ng-repeat="file in $ctrl.items.files track by $index"
              class="item"
              on-remove="$ctrl.removeFile($index)"
              caption="file">
        </file-icon>
        <game-icon data-ng-repeat="game in $ctrl.items.games track by $index"
              class="item"
              on-remove="$ctrl.removeGame($index)"
              data="game"
              widgets="$ctrl.widgets">
        </game-icon>
    </div>
</div>