<div id="game">
    <div id="miniclip-game-embed"
            data-game-name="{{$ctrl.data.type}}"
            data-theme="0"
            data-width="{{$ctrl.data.width}}"
            data-height="{{$ctrl.data.height}}"
            data-language="en">
    </div>
</div>