<div class="game">
    <button class="close-button" data-ng-click="$ctrl.onRemove()"></button>
    <div class="game-content"></div>
    <input class="caption" type="text" data-ng-model="$ctrl.caption"/>
</div>