<div class="game">
    <button class="close-button" data-ng-click="$ctrl.onRemove()"></button>
    <div class="game-content" data-ng-click="$ctrl.openGame()"></div>
    <input class="caption" type="text" data-ng-model="$ctrl.data.name"/>
</div>