<div id="panel" ng-hide="$ctrl.loading">
    <div id="folder-option" class="option"></div>
    <div id="file-option" class="option"></div>
    <div id="game-option" class="option"></div>
    <div id="browser-option" class="option"></div>
    <div id="youtube-option" class="option"></div>
    <div id="settings-option" class="option"></div>
</div>