.folder {
    position: relative;
    transition: transform 0.25s;

    &:hover {
        height: 106px;
        transform: translate(0, -4px);
        box-shadow: #777 0 18px 6px -18px;
    }

    &:hover .close-button {
        display: block;
    }

    .folder-content {
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-size: cover;
        background-image: url(folder-item.png);
        box-shadow: #777 0 30px 8px -8px;
    }

    .caption {
        width: 80px;
        padding: 2px;
        box-sizing: border-box;
        border: 1px solid #777;
        border-radius: 4px;
        text-align: center;
    }

    .close-button {
        display: none;
        width: 22px;
        height: 22px;
        background: url("close-button.png");
        background-size: cover;
        border: none;
        outline: none;
        position: absolute;
        top: -2px;
        right: -8px;
        cursor: pointer;

        &:hover {
            filter: saturate(75%);
        }
    }
}
