<div id="settings">
    <label for="setting-sounds-state">Sounds</label>
    <input id="setting-sounds-state"
           type="checkbox"
           data-ng-model="$ctrl.state.sounds"
           data-ng-change="$ctrl.toggleSoundsState()"/>
</div>