<div id="preloader" ng-show="$ctrl.animating">
    <div id="preloader-logo">WatchOS: {{$ctrl.info.version}}</div>
    <div id="preloader-progress">
        <div id="preloader-progress-shadow"></div>
    </div>
</div>